<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <style>
        body{
            background-color: deepskyblue;
        }
        button{
            width: 80px;
            height: 20px;
            border: unset;
            border-radius: 10px;
            background-color: coral;
            color: white;
        }
        img{
            width: 100%;
            height: 30vh;
        }
         h6{
            color: darkred;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Teens Foundation Gallery</h1>
    <a href="/"><button>Home</button></a>
    <a href="/about"><button>About</button></a>
    <a href="/gallery"><button>Gallery</button></a>
    <h4>Teens Gallery</h4>
    <img src="../static/images/img11.jpeg" alt="No image">
    <img src="../static/images/img12.jpg" alt="No image">
    <img src="../static/images/imh1.jpg" alt="No image">
    <img src="../static/images/imh2.jpg" alt="No image">
    <img src="../static/images/imh6.jpg" alt="No image">
    <img src="../static/images/index.jpeg" alt="No image">
      <h6>copy.right @ TeensFoundation 2023</h6>
</body>
</html>